@page "/Rooms"
@using PlanningPoker.Client.Pages.RoomsList.Components

@if (_roomCollection is null)
{
    <p>Loading...</p>
}
else
{
    <div class="room-list">
        @foreach (var room in _roomCollection)
        {
            <RoomsListItem RoomObject="room"/>
        }
    </div>
}