@page "/RoomsList"

@if (_roomCollection is null)
{
    <p>Loading...</p>
}
else
{
    <div class="room-list">
        @foreach (var room in _roomCollection)
        {
            <RoomSelectorItem RoomObject="room"/>
        }
    </div>
}