<div class="room">
    @if (RoomObject is null)
    {
        <div>loading...</div>
    }
    else
    {
        <div class="left-content">
            <h2 class="room-name">@RoomObject.Name</h2>
            <span class="room-owner">@RoomObject.OwnerUser.Name</span>
        </div>
        <div class="right-content">
            <button type="button">Open Room</button>
        </div>
    }
</div>