@page "/"
@using PlanningPoker.Shared.Dtos
@inject Services.Rooms.IRoomService RoomService

@if (_roomCollection is null)
{
    <p>Loading...</p>
}
else
{
    <div class="room-list">
        @foreach (var room in _roomCollection)
        {
            <RoomSelectorItem RoomObject="room"/>
        }
    </div>
}

<style>   
    .room-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
</style>

@code
{
    private IReadOnlyCollection<RoomDto>? _roomCollection = null;

    protected override async Task OnInitializedAsync()
    {
        _roomCollection = await RoomService.GetActiveRooms();
    }
}