@page "/"
@using PlanningPoker.Shared.Dtos
@using System.Text.Json
@inject Services.Rooms.IRoomService RoomService

@if (_roomCollection is null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var room in _roomCollection)
    {
        <pre>@JsonSerializer.Serialize(room, new JsonSerializerOptions())</pre>
    }
}


@code
{
    private IReadOnlyCollection<RoomDto>? _roomCollection = null;

    protected override async Task OnInitializedAsync()
    {
        _roomCollection = await RoomService.GetActiveRooms();
    }
}