@font-face {
    font-family: 'dm_monoitalic';
    src: url('dmmono-italic-webfont.woff2') format('woff2'),
    url('dmmono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_monolight';
    src: url('dmmono-light-webfont.woff2') format('woff2'),
    url('dmmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_monolight_italic';
    src: url('dmmono-lightitalic-webfont.woff2') format('woff2'),
    url('dmmono-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_monomedium';
    src: url('dmmono-medium-webfont.woff2') format('woff2'),
    url('dmmono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_monomedium_italic';
    src: url('dmmono-mediumitalic-webfont.woff2') format('woff2'),
    url('dmmono-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_monoregular';
    src: url('dmmono-regular-webfont.woff2') format('woff2'),
    url('dmmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}