:root {
    --primary-color: #17141d;
    --secondary-color: #ff8a00;

    --primary-font-family: 'DM Mono', monospace;
    --secondary-font-family: sans-serif;
    
    --primary-box-shadow: -1rem 0 3rem #000;
}