.room {
    font-size: 1rem;
    font-family: var(--primary-font-family);
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    padding: 1.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    box-shadow: var(--primary-box-shadow);
}

h2.room-name {
    font-weight: 700;
}

span.room-owner {
    font-size: 0.8rem;
    font-weight: 700;
    color: #7a7a8c;
}

button.open-btn {
    background: var(--secondary-color);
    color: white;
    border: none;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: var(--primary-box-shadow);
    font-family: var(--primary-font-family);
}